// components/cart-modal.pug
.cart-modal
  .cart-modal__overlay
  .cart-modal__content
    button.cart-modal__close ×
    h3.cart-modal__title Кошик

    .cart-modal__items#cart-items
      // ТОВАРИ БУДУТЬ ТУТ

    .cart-modal__footer
      button.btn.btn--secondary Продовжити покупки
      .cart-modal__total
        span Сума:
        strong#cart-total 0 ₴
      button.btn.btn--primary Оформити замовлення