footer.footer
  .footer__top
    .footer__col
      .logo
        img(src="/images/logo.svg" alt="eApteka")
        span eApteka
      p Здоров’я поруч із вами
      p м. Київ, Україна
      p +380 (44) 123-45-67
      a(href="mailto:info@eapteka.ua") info@eapteka.ua

    .footer__col
      h4 Корисні посилання
      ul
        li: a(href="#") Про нас
        li: a(href="#") Каталог товарів
        li: a(href="#") Доставка та оплата
        li: a(href="#contacts") Контакти

    .footer__col
      h4 Ми у соцмережах
      ul
        li: a(href="#") Facebook
        li: a(href="#") Instagram
        li: a(href="#") Telegram

  .footer__bottom
    p © 2025 eApteka — Всі права захищено.
