//- pages/components/prescription-alert.pug
.prescription-alert#prescription-alert
  .prescription-alert__content
    p Цей препарат відпускається тільки за рецептом лікаря.
    button.prescription-alert__close Зрозуміло