// components/product-card.pug
.promos__item
  .card
    .card__image
      img(src="/src/assets/images/placeholder.png" alt="Товар")
    .card__body
      h3.card__title Title
      p.card__text Text about medicines