// components/product-card.pug
.promos__item
  .card
    .card__image
      img(src="/src/assets/images/placeholder.png" alt="Товар")
    .card__body
      h3.card__title Title
      p.card__text Body text for whatever you'd like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story.