//components/products-section.pug
section.products
  h2.section-title Наші товари
  .cards-grid
    include ./product-card.pug
    include ./product-card.pug
    include ./product-card.pug
    include ./product-card.pug
    include ./product-card.pug
    include ./product-card.pug
