// src/scss/main.scss
@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'components/header' as *;
@use 'components/hero' as *;
@use 'components/cards' as *;
@use 'components/promos' as *;
@use 'components/products' as *;
@use 'components/footer' as *;
@use 'components/cart' as *;
@use 'components/prescription-alert' as *;
@use 'components/search' as *; 
@use 'components/scroll-top' as *;