doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    title Прототип LR5
  body
    include ./components/header.pug
    include ./components/content.pug
    include ./components/footer.pug

  script(type="module" src="/src/main.ts")
