doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Моя лабораторна робота
    link(rel="stylesheet" href="/scss/main.scss")
  body
    include ../components/header.pug
    include ../components/content.pug
    include ../components/footer.pug