//pages/index.pug
doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title eApteka — інтернет-аптека
    link(rel="stylesheet" href="/src/scss/main.scss")
  body
include ../components/header.pug
include ../components/hero.pug
include ../components/promo-section.pug
include ../components/products-section.pug
include ../components/footer.pug

include ../components/cart-modal.pug
include ../components/prescription-alert.pug

button#scroll-to-top(aria-label="Повернутися на початок")
      svg(width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5")
        path(d="M12 19V5m-7 7l7-7 7 7")

script(type="module" src="/src/main.ts")