// src/scss/components/hero.scss
@use '../base/variables' as *;

.hero {
    position: relative;
    padding: 120px 0 80px;
    overflow: hidden;
    text-align: center;
    background: url('/src/assets/images/hero-bg.png') center/cover no-repeat;

    &__content {
        position: relative;
        z-index: 2;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__title {
        font-size: clamp(3.5rem, 8vw, 6rem);
        font-weight: 600;
        color: $accent-hover;
        margin: 0 0 $gap-xs;
        line-height: 1.1;
        text-shadow: 0 10px 4px $shadow;
    }

    &__subtitle {
        font-size: 24px;
        color: $text-light;
        margin: 0;
        line-height: 1.5;
        font-weight: 500;
    }
}