// src/scss/components/_promos.scss
@use '../base/variables' as *;

.promos {
    padding: $section-padding 0;
    background: $bg-light;

    @media (max-width: 768px) {
        padding: $section-padding-mobile 0;
    }
}